/*HEADER*/
.head1{
    font-size: 10px;
    color: black;
    background-color: grey;
    padding: 0;
}

.navbar-nav li{
    color: black;
}

.clear {
    clear: both;
}

/*SECTION*/
.banner1{
    background-color:#021528;
}
.banner1 img{
    padding: 8%;
}
#banner1{
    margin: 0 100px;
    background-color: #021528;
}
.card-title1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
}
.card-body1{
    margin-top: 15%;    
    color: aliceblue;
}

.btn1{
    font-size: 18px;
    font-weight: bold;
    background-color: #021528;
    padding: 10px 70px;
    color: aliceblue;
    border: 1px solid white;
    border-radius: 0;
    float: left;
    margin-right: 20px;
}

.btn1 :hover{
    color:#021528 !important;
    background-color: white !important;
}

.disc{
    font-size: 20px;
    color: grey;
    text-align: center ;
    margin-top: 30px;
}
.blck{
    padding: 0 180px;
    margin:0 0 50px 0;
}
.card {
    border: 0 solid white;
}
.name{
    font-size: 15px;
    font-weight: bold;
    color: black;
}

.card-text{
    font-size: 14px;
    font-weight: bold;
}
.card-footer{
    padding: 0;
    background-color: white;
}
.col button{
    background-color: #1678be;
    color: white;
    font-weight: bold;
    height: 30px;
    border: 0;
}

.banner2{
    margin: 20px 180px;
}
#banner2{
    background-color: rgba(216, 216, 216, 0.938);
    max-width: 100%;
}
.card-title2{
    margin-top: 100px;
    font-family: 'Times New Roman', Times, serif;
}

.tile2{
    padding: 70px;
}

.tile2 p{
    font-size: 13px;
}

.tile2 button{
    background-color: black;
    color: white;
    padding: 10px 60px;
    font-weight: bold;
    font-size: 17px;

}
.card2{
    text-align-last: center;
}
.tile3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}
.btn2{
    color: black ;
    border: 1px solid black;
    background-color: white;
    padding: 10px 30px;
    font-weight: bold;
    font-size: 18px;
}
.card2 .card-text3{
    width: 52rem;
}


.card6{
    padding: 50px;
    margin: 40px auto;
    background-color: #F0EFEB;
}
.card6-head{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

.card6-body{
    font-size: 13px;
}

.search-bar2{
    margin-right: 0;
    border-radius: 0;
}

.btn3{
    color: white;
    margin-left: 0;
    background-color: black;
    border-radius: 0;
    font-weight: bold;
    padding: 10px 20px;
}
/*FOOTER*/
.footer2-1{
    font-weight: bold;
    color: gray;
}

.footer2-2{
    font-size: 13px;
}


@media only screen and (max-width: 768px) {

    #banner1{
        margin: 0 3%;
    }
    .card-body1{
        margin-top: 5%;
        font-size: 15px; 
    }

    .card-title1{
        font-size: 35px;
    }

    .btn1{
        font-size: 15px;
        padding: 10px 50px;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .banner2{
        margin: 20px 5%;
    }

    .banner2 img{
       width: 100%;
    }

    .card-title2{
        margin-top: 10px;
        
    }
    .tile2{
        padding: 5%;
    }
    

    .card6 {
        width: 95%;
    }
    .card6 .row .col-8 {
        float: left;
        width: 95%;
    }

    .card6 .row .col-4 {
        float: left;
        width: 95%;
    }

    
}

@media only screen and (max-width: 420px) {
    .banner1 .col-md-6 img{
        width: 100%;
        padding: 0;
    }

    .card-body1{
        position: relative;
    }
    .btn1{
        transform: translateX(35%);
    }

    .input-group-text{
        font-size: 12px !important;
        padding: 5% 5%;
    }

    .card6{
        padding: 3%;
    }

    .card2 .card-text3 {
        width: 95%;
    }
}
